In [1]:
from selenium import webdriver

from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager

from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
import pandas as pd
import datetime
import time
import os
import requests

In [2]:
import praw
# Log In to App: 
reddit = praw.Reddit(client_id='-1G_AVJTJzG_ILhPlC0r1Q', client_secret='HBAm1HycBjYjvBoUMyFoTDe5opda_g', user_agent='datainneed by u/haizcestlavie')

Version 7.4.0 of praw is outdated. Version 7.7.1 was released Tuesday July 11, 2023.

In [3]:
def get_subreddit_submissions(reddit, subreddit_name, text):
    # Get the subreddit hot posts
    subreddit = reddit.subreddit(subreddit_name).new(limit=1000)

    data = []
    # Search for the text in the subreddit's submissions
    for submission in subreddit:
        # Convert the title to lowercase and check if it contains the text
        if text.lower() in submission.title.lower():
            data.append({
                'title': submission.title,
                'num_comments': submission.num_comments,
                'url': submission.url,
                'created': datetime.datetime.fromtimestamp(submission.created),
                'upvotes': submission.ups,
                'id': submission.id,
                'score': submission.score #score is upvotes - downvotes
            }) 

    # Convert the list of dictionaries into a DataFrame
    df = pd.DataFrame(data)
    return df

In [4]:
def get_comments(reddit, df):
    # Get the list of submission IDs from the DataFrame
    submission_ids = df['id'].tolist()

    data = []

    # Loop over the submission IDs
    for submission_id in submission_ids:
        # Get the submission
        submission = reddit.submission(id=submission_id)
        # Get the comments of the submission
        submission.comments.replace_more(limit=None)  # This line expands the comment forest if a "load more comments" placeholder is encountered
        for comment in submission.comments.list():
            data.append({
                'submission_id': submission_id,
                'submission_title': submission.title,
                'comment_text': comment.body,
                'upvotes': comment.ups
            })

    # Convert the list of dictionaries into a DataFrame
    df_comments = pd.DataFrame(data)
    return df_comments

# 5 stocks code (TSLA, AMD, AAPL, MSFT, NIO) from subreddit r/wallstreetbets

In [9]:
wallstreetbets_df_tsla = get_subreddit_submissions(reddit, 'wallstreetbets', 'tsla')
wallstreetbets_df_tsla_comments = get_comments(reddit, wallstreetbets_df_tsla)
wallstreetbets_df_tsla_comments.to_csv('wallstreetbets_tsla_comments.csv', index=False)
wallstreetbets_df_tsla_comments

,submission_id,submission_title,comment_text,upvotes
0,18hnhe8,Where's Our TSLA Bulls At Today?,\n**User Report**| | | |\n:--|:--|:--|:--\n**T...,1
1,18hnhe8,Where's Our TSLA Bulls At Today?,I bought puts and hour ago. I’m about to close...,121
2,18hnhe8,Where's Our TSLA Bulls At Today?,The company is down 0.98%!\n\nIs it going bank...,322
3,18hnhe8,Where's Our TSLA Bulls At Today?,"Not only is it up today, it's up over the last...",64
4,18hnhe8,Where's Our TSLA Bulls At Today?,Up 89.5% YTD ![img](emote|t5_2th52|8882),191
...,...,...,...,...
942,1860496,TSLA Institutional Ownership Over Time.,\n**User Report**| | | |\n:--|:--|:--|:--\n**T...,1
943,1860496,TSLA Institutional Ownership Over Time.,Isn’t the increase due to inclusion in the S&P?,10
944,1860496,TSLA Institutional Ownership Over Time.,"As you can see, institutional ownership of Tes...",3
945,1860496,TSLA Institutional Ownership Over Time.,Yes,5
946,1860496,TSLA Institutional Ownership Over Time.,"No. It’s because it was added to benchmarks, ...",1

In [10]:
wallstreetbets_df_amd = get_subreddit_submissions(reddit, 'wallstreetbets', 'amd')
wallstreetbets_df_amd_comments = get_comments(reddit, wallstreetbets_df_amd)
wallstreetbets_df_amd_comments.to_csv('wallstreetbets_amd_comments.csv', index=False)
wallstreetbets_df_amd_comments

,submission_id,submission_title,comment_text,upvotes
0,18dolny,AMD AI Chip release - Up ~6.5% in the last 24h...,\n**User Report**| | | |\n:--|:--|:--|:--\n**T...,1
1,18dolny,AMD AI Chip release - Up ~6.5% in the last 24h...,Su Bae will not disappoint us. She is always c...,8
2,18dolny,AMD AI Chip release - Up ~6.5% in the last 24h...,I think and hope that both AMD and NVDA will b...,11
3,18dolny,AMD AI Chip release - Up ~6.5% in the last 24h...,AMD just needs to take a small share of the AI...,5
4,18dolny,AMD AI Chip release - Up ~6.5% in the last 24h...,">The market response has been strong so far, b...",4
...,...,...,...,...
81,185zhf1,Puts on AMD.,Is,1
82,185zhf1,Puts on AMD.,Wolfenstein won't load?,2
83,185zhf1,Puts on AMD.,Hile- definition.,1
84,185zhf1,Puts on AMD.,"Exakt, sprich deutsch du Hu😂",2
85,185zhf1,Puts on AMD.,Jerusalem Powell,1

In [11]:
df_aapl = get_subreddit_submissions(reddit, 'wallstreetbets', 'aapl')
df_aapl_comments = get_comments(reddit, df_aapl)
df_aapl_comments.to_csv('wallstreetbets_aapl_comments.csv', index=False)
df_aapl_comments

,submission_id,submission_title,comment_text,upvotes
0,18gdcbt,My 1st grader brought this home from school to...,\n**User Report**| | | |\n:--|:--|:--|:--\n**T...,1
1,18gdcbt,My 1st grader brought this home from school to...,OP don’t try to pretend that’s not your handwr...,191
2,18gdcbt,My 1st grader brought this home from school to...,2 says “I want a PTON”. One of us.,51
3,18gdcbt,My 1st grader brought this home from school to...,1. I want a Tesla Model S. 2. I want to be ric...,61
4,18gdcbt,My 1st grader brought this home from school to...,Meanwhile daddy is gambling away the mortgage ...,19
...,...,...,...,...
542,18ecxrr,Apple's head of iphone and Apple watch design ...,They said they would support lightning for 10 ...,1
543,18ecxrr,Apple's head of iphone and Apple watch design ...,His example of the military means when someone...,2
544,18ecxrr,Apple's head of iphone and Apple watch design ...,Show me where I said that. Cool. Thanks. This ...,-10
545,18ecxrr,Apple's head of iphone and Apple watch design ...,I never said they can’t work anymore. \n\nHere...,1
546,18ecxrr,Apple's head of iphone and Apple watch design ...,You seemed to be suggested if someone retires ...,3

In [12]:
wallstreetbets_df_msft = get_subreddit_submissions(reddit, 'wallstreetbets', 'msft')
wallstreetbets_df_msft_comments = get_comments(reddit, wallstreetbets_df_msft)
wallstreetbets_df_msft_comments.to_csv('wallstreetbets_msft_comments.csv', index=False)
wallstreetbets_df_msft_comments

,submission_id,submission_title,comment_text,upvotes
0,18fn1n6,I believe Microsoft (MSFT) is prepping Lumen (...,\n**User Report**| | | |\n:--|:--|:--|:--\n**T...,1
1,18fn1n6,I believe Microsoft (MSFT) is prepping Lumen (...,Giving yourself that gold upvote means you mus...,5115
2,18fn1n6,I believe Microsoft (MSFT) is prepping Lumen (...,Upcoming YEARS? Goddamn how heavy are your bags?,895
3,18fn1n6,I believe Microsoft (MSFT) is prepping Lumen (...,I’m not sure why Lululemon would be a Microsof...,1392
4,18fn1n6,I believe Microsoft (MSFT) is prepping Lumen (...,You bastard. I literally just told my wife tha...,1030
...,...,...,...,...
477,18fn1n6,I believe Microsoft (MSFT) is prepping Lumen (...,In their Lululemons. Am I the only one here th...,30
478,18fn1n6,I believe Microsoft (MSFT) is prepping Lumen (...,I don't really care about public companies tha...,1
479,18fn1n6,I believe Microsoft (MSFT) is prepping Lumen (...,wait i thought it was in their tesla. im so co...,2
480,18fn1n6,I believe Microsoft (MSFT) is prepping Lumen (...,@vmod when a company is doing poorly that is e...,1
481,18fn1n6,I believe Microsoft (MSFT) is prepping Lumen (...,It's all pretty clear honestly: Wear Lululemon...,2

In [13]:
wallstreetbets_df_nio = get_subreddit_submissions(reddit, 'wallstreetbets', 'nio')
wallstreetbets_df_nio_comments = get_comments(reddit, wallstreetbets_df_nio)
wallstreetbets_df_nio_comments.to_csv('wallstreetbets_nio_comments.csv', index=False)
wallstreetbets_df_nio_comments

,submission_id,submission_title,comment_text,upvotes
0,18difix,Why NIO Inc is Undervalued,\n**User Report**| | | |\n:--|:--|:--|:--\n**T...,1
1,18difix,Why NIO Inc is Undervalued,I too am a NIO bag holder,25
2,18difix,Why NIO Inc is Undervalued,>I agree that NIO is undervalued. I think peop...,10
3,18difix,Why NIO Inc is Undervalued,Chinese stocks are just not worth it,3
4,18difix,Why NIO Inc is Undervalued,So… is this gonna be hijacked for discussions ...,5
...,...,...,...,...
412,187z19h,Elon and his minions after the Cyber Truck rel...,All I'm saying is they have a long ways to go....,8
413,187z19h,Elon and his minions after the Cyber Truck rel...,I will be messaging you in 3 years on [**2026-...,2
414,187z19h,Elon and his minions after the Cyber Truck rel...,I'm confused....do you like Elon or not?,-11
415,187z19h,Elon and his minions after the Cyber Truck rel...,"No one, and I mean no one, has ever described ...",15
416,187z19h,Elon and his minions after the Cyber Truck rel...,I forgot the /s,-1

# 5 stocks code (TSLA, AMD, AAPL, MSFT, NIO) from subreddit r/stocks

In [14]:
stocks_df_tsla = get_subreddit_submissions(reddit, 'stocks', 'tsla')
stocks_df_tsla_comments = get_comments(reddit, stocks_df_tsla)
stocks_df_tsla_comments.to_csv('stocks_tsla_comments.csv', index=False)
stocks_df_tsla_comments

,submission_id,submission_title,comment_text,upvotes
0,17zlxf6,Tesla's earnings should improve in Q4; short T...,Think you meant to post this on that other sub...,28
1,17zlxf6,Tesla's earnings should improve in Q4; short T...,"This read like some bias, bad written, investm...",16
2,17zlxf6,Tesla's earnings should improve in Q4; short T...,this reads like some client note that was copy...,18
3,17zlxf6,Tesla's earnings should improve in Q4; short T...,Guys Analysts are optimistic about the margin ...,5
4,17zlxf6,Tesla's earnings should improve in Q4; short T...,Straight to thetagang.,1
...,...,...,...,...
778,17j4q1u,We Should Start Worrying about Tesla (TSLA),It's coming in 2030 for a ton of countries and...,1
779,17j4q1u,We Should Start Worrying about Tesla (TSLA),"I did, they are the only competition of Tesla,...",0
780,17j4q1u,We Should Start Worrying about Tesla (TSLA),>Buying a company with no factories or revenue...,2
781,17j4q1u,We Should Start Worrying about Tesla (TSLA),There is no money to make for Tesla in India. ...,0
782,17j4q1u,We Should Start Worrying about Tesla (TSLA),BYD 22% gross margins vs 18% for Tesla. BYD's ...,1

In [15]:
stocks_df_amd = get_subreddit_submissions(reddit, 'stocks', 'amd')
stocks_df_amd_comments = get_comments(reddit, stocks_df_amd)
stocks_df_amd_comments.to_csv('stocks_amd_comments.csv', index=False)
stocks_df_amd_comments

,submission_id,submission_title,comment_text,upvotes
0,18d136b,$AMD shares up 8% following rollout of new MI3...,Basically it dropped from $123ish to $117ish b...,107
1,18d136b,$AMD shares up 8% following rollout of new MI3...,The competition has begun. I hope it can break...,197
2,18d136b,$AMD shares up 8% following rollout of new MI3...,Funny that this news came out yesterday and th...,73
3,18d136b,$AMD shares up 8% following rollout of new MI3...,"To whoever I sold my $108 call to, enjoy it mfer",42
4,18d136b,$AMD shares up 8% following rollout of new MI3...,Been in since 2017 @ $14.50/share when I read ...,32
...,...,...,...,...
221,181xhis,"When is a good time to buy NVIDIA stocks, AMD ...",[deleted],1
222,181xhis,"When is a good time to buy NVIDIA stocks, AMD ...","Can’t recall every factor I use for RV, but th...",1
223,17kx3vb,"AMD beats earnings estimates, misses Q4 guidance",Mi300 not starting sales till December hurts. ...,16
224,17kx3vb,"AMD beats earnings estimates, misses Q4 guidance",Dr. Su - always under promises and over delive...,15
225,17kx3vb,"AMD beats earnings estimates, misses Q4 guidance",Lots of things can happen over the next couple...,6

In [16]:
stocks_df_aapl = get_subreddit_submissions(reddit, 'stocks', 'aapl')
stocks_df_aapl_comments = get_comments(reddit, stocks_df_aapl)
stocks_df_aapl_comments.to_csv('stocks_aapl_comments.csv', index=False)
stocks_df_aapl_comments

,submission_id,submission_title,comment_text,upvotes
0,18fe0a8,Sell or Hold $AAPL?,There’s nothing wrong with trimming to free up...,356
1,18fe0a8,Sell or Hold $AAPL?,One of the biggest mistakes people sometimes m...,522
2,18fe0a8,Sell or Hold $AAPL?,Sell covered calls deep OTM since your cost ba...,49
3,18fe0a8,Sell or Hold $AAPL?,"Sell half. Keep half.\n\nWhen in doubt, I spli...",444
4,18fe0a8,Sell or Hold $AAPL?,When I doubled my money in my first $10k inves...,256
...,...,...,...,...
620,17q6i0w,VOO + AAPL + MSFT + Googl + AMZN + INTC for th...,"You're right, And google invented the large la...",1
621,17q6i0w,VOO + AAPL + MSFT + Googl + AMZN + INTC for th...,Deepmind has been profitable since 2019 and it...,1
622,17q6i0w,VOO + AAPL + MSFT + Googl + AMZN + INTC for th...,They're already making money. Deepmind turned ...,1
623,17q6i0w,VOO + AAPL + MSFT + Googl + AMZN + INTC for th...,[deleted],-1
624,17q6i0w,VOO + AAPL + MSFT + Googl + AMZN + INTC for th...,I don't understand what you're on about. Googl...,2

In [17]:
stocks_df_msft = get_subreddit_submissions(reddit, 'stocks', 'msft')
stocks_df_msft_comments = get_comments(reddit, stocks_df_msft)
stocks_df_msft_comments.to_csv('stocks_msft_comments.csv', index=False)
stocks_df_msft_comments

,submission_id,submission_title,comment_text,upvotes
0,17t23sz,Taking out all my money from VOO and dumping i...,Could wait till it reaches an even higher ATH,581
1,17t23sz,Taking out all my money from VOO and dumping i...,MSFT top is in confirmed with this post.,380
2,17t23sz,Taking out all my money from VOO and dumping i...,Where’s your conviction? Sell all and allocate...,171
3,17t23sz,Taking out all my money from VOO and dumping i...,"Buy high, sell low - the original definition",54
4,17t23sz,Taking out all my money from VOO and dumping i...,Just start investing in msft and dont dump you...,47
...,...,...,...,...
607,17fmkxr,MSFT Crushes Azure earnings up over 4% AH,Umm... That's the same division. They had a ne...,1
608,17fmkxr,MSFT Crushes Azure earnings up over 4% AH,I've been out of what is I guess your country ...,1
609,17fmkxr,MSFT Crushes Azure earnings up over 4% AH,"Haha! Don't confuse U with the facts, huh? Why...",1
610,17fmkxr,MSFT Crushes Azure earnings up over 4% AH,Only in my Sp500 etf. Nothing you stated here ...,1
611,17fmkxr,MSFT Crushes Azure earnings up over 4% AH,"Sure, thing Mr. Satya Nadella. Haha!",1

In [18]:
stocks_df_nio = get_subreddit_submissions(reddit, 'stocks', 'nio')
stocks_df_nio_comments = get_comments(reddit, stocks_df_nio)
stocks_df_nio_comments.to_csv('stocks_nio_comments.csv', index=False)
stocks_df_nio_comments

,submission_id,submission_title,comment_text,upvotes
0,18hj59e,SilverBow Resources (SBOW): Is Now the Time to...,Why are you asking us to do all the research w...,1
1,18hj59e,SilverBow Resources (SBOW): Is Now the Time to...,Ask ChatGPT lol,1
2,187jloa,Unilever Stock - Opinions?,FTSE is facing very low valuations in general....,4
3,187jloa,Unilever Stock - Opinions?,"I like it. It's seen as a stodgy, low-growth b...",3
4,187jloa,Unilever Stock - Opinions?,Not good not bad. PG is much better,1
...,...,...,...,...
122,17m3pf5,Opinion: Alternative Investments will Prevent ...,"back to the main point, I would argue though t...",1
123,17m3pf5,Opinion: Alternative Investments will Prevent ...,"Liquidating all the gold in Fort Knox, the Mon...",1
124,17m3pf5,Opinion: Alternative Investments will Prevent ...,>that once private equity gets marked to marke...,2
125,17m3pf5,Opinion: Alternative Investments will Prevent ...,"You keep quoting Buffett and Munger, yet disre...",1
126,17m3pf5,Opinion: Alternative Investments will Prevent ...,they are going private bc equity markets suck ...,1

# 5 stocks code (TSLA, AMD, AAPL, MSFT, NIO) from subreddit r/StockMarket

In [19]:
stockmarket_df_tsla = get_subreddit_submissions(reddit, 'StockMarket', 'tsla')
stockmarket_df_tsla_comments = get_comments(reddit, stockmarket_df_tsla)
stockmarket_df_tsla_comments.to_csv('stockmarket_tsla_comments.csv', index=False)
stockmarket_df_tsla_comments

,submission_id,submission_title,comment_text,upvotes
0,1867wce,TSLA Bulish,Expecting a 10-point pop today,1
1,1867wce,TSLA Bulish,"Well, this didn't age well...",2
2,180pzw2,Sold 1/3 of my TSLA shares so I could feed bab...,China.,89
3,180pzw2,Sold 1/3 of my TSLA shares so I could feed bab...,"Baba peaked, SoftBank dumped, Jack Ma dumped, ...",65
4,180pzw2,Sold 1/3 of my TSLA shares so I could feed bab...,"50% market cap in cash, fair value 150 USD/sha...",14
...,...,...,...,...
601,16b72u1,Mercedes unveils new electric concept cars wit...,"If you enjoy and feel nostalgic about it, its ...",2
602,16b72u1,Mercedes unveils new electric concept cars wit...,Well I design them for a living so yeah I do,0
603,16b72u1,Mercedes unveils new electric concept cars wit...,Sounds like you are the one coping then becaus...,0
604,16b72u1,Mercedes unveils new electric concept cars wit...,The irony. You literally are just spouting the...,1
605,16b72u1,Mercedes unveils new electric concept cars wit...,LOL you have 0 experience with their self driv...,0

In [20]:
stockmarket_df_amd = get_subreddit_submissions(reddit, 'StockMarket', 'amd')
stockmarket_df_amd_comments = get_comments(reddit, stockmarket_df_amd)
stockmarket_df_amd_comments.to_csv('stockmarket_amd_comments.csv', index=False)
stockmarket_df_amd_comments

,submission_id,submission_title,comment_text,upvotes
0,17scpov,$NVDA $AMD rise - Chip gains as sector ending ...,The surge today was due to TSM's monthly reven...,3
1,17scpov,$NVDA $AMD rise - Chip gains as sector ending ...,How is Nvidia selling to Chinese startups?,2
2,17scpov,$NVDA $AMD rise - Chip gains as sector ending ...,I have tsm at 99\n\nI've been waiting to sell ...,1
3,17scpov,$NVDA $AMD rise - Chip gains as sector ending ...,Selling because it went down. Should've averag...,2
4,17leoks,Thoughts on $AMD?,If I draw a line to the top with a blue crayon...,59
...,...,...,...,...
64,17leoks,Thoughts on $AMD?,Go on about this bridge. Can it fit a troll un...,2
65,17leoks,Thoughts on $AMD?,YOY growth is at 4% and the revenue estimates ...,1
66,17leoks,Thoughts on $AMD?,yes I did. There is no 2024 guidance. She only...,1
67,17leoks,Thoughts on $AMD?,The YOY growth is literally the first thing in...,-2
68,17leoks,Thoughts on $AMD?,think there is some confusion between you two....,2

In [21]:
stockmarket_df_aapl = get_subreddit_submissions(reddit, 'StockMarket', 'aapl')
stockmarket_df_aapl_comments = get_comments(reddit, stockmarket_df_aapl)
stockmarket_df_aapl_comments.to_csv('stockmarket_aapl_comments.csv', index=False)
stockmarket_df_aapl_comments

,submission_id,submission_title,comment_text,upvotes
0,17sz3xi,Trying to understand this chart. Massive AAPL ...,Looks fine to me. The large institutional inve...,13
1,17sz3xi,Trying to understand this chart. Massive AAPL ...,you need to investigate opening and closing pr...,10
2,17sz3xi,Trying to understand this chart. Massive AAPL ...,Bands and clouds: The Ichimoku and Bollinger. ...,-2
3,17sz3xi,Trying to understand this chart. Massive AAPL ...,What form can I find stock tips,-2
4,17sz3xi,Trying to understand this chart. Massive AAPL ...,... or is the market going black after all?,-1
...,...,...,...,...
108,16h7ygq,"Interesting look at the AAPL Daily, 1m, chart....","Arguably, an asset breaking to new all time hi...",2
109,16h7ygq,"Interesting look at the AAPL Daily, 1m, chart....",[deleted],2
110,16h7ygq,"Interesting look at the AAPL Daily, 1m, chart....",That's nice but my short position had less to ...,1
111,16h7ygq,"Interesting look at the AAPL Daily, 1m, chart....","my point of view was ""why is it so important t...",1
112,16h7ygq,"Interesting look at the AAPL Daily, 1m, chart....",If you’re DCA this should make you happy in th...,1

In [22]:
stockmarket_df_msft = get_subreddit_submissions(reddit, 'StockMarket', 'msft')
stockmarket_df_msft_comments = get_comments(reddit, stockmarket_df_msft)
stockmarket_df_msft_comments.to_csv('stockmarket_msft_comments.csv', index=False)
stockmarket_df_msft_comments

,submission_id,submission_title,comment_text,upvotes
0,17s8uuv,Microsoft $MSFT at all time high!,I've later regretted every time that I sold it...,49
1,17s8uuv,Microsoft $MSFT at all time high!,Sold my position at an average of $312. This i...,86
2,17s8uuv,Microsoft $MSFT at all time high!,They can even de-throne Apple in case AI hype ...,109
3,17s8uuv,Microsoft $MSFT at all time high!,"In time, Microsoft will be more valuable than ...",11
4,17s8uuv,Microsoft $MSFT at all time high!,I bought it during Covid on the way up.\nI thi...,10
...,...,...,...,...
165,17s8uuv,Microsoft $MSFT at all time high!,"When and where did I say ""you said all Microso...",1
166,17s8uuv,Microsoft $MSFT at all time high!,I have enough humility and curiosity to consid...,2
167,17s8uuv,Microsoft $MSFT at all time high!,But what's your point? If it walks like a duck...,2
168,17s8uuv,Microsoft $MSFT at all time high!,Of possible interest is the fact that OpenAI's...,2
169,16ecx05,What's up with ZScaler $ZS - didn't MSFT recen...,The premium valuation is for the projected 26%...,2

In [23]:
stockmarket_df_nio = get_subreddit_submissions(reddit, 'StockMarket', 'nio')
stockmarket_df_nio_comments = get_comments(reddit, stockmarket_df_nio)
stockmarket_df_nio_comments.to_csv('stockmarket_nio_comments.csv', index=False)
stockmarket_df_nio_comments

,submission_id,submission_title,comment_text,upvotes
0,18hzuzp,Opinions?,First of all congratulations on starting early...,11
1,18hzuzp,Opinions?,Put it all in VOO and you’ll be good,3
2,18hzuzp,Opinions?,Put all your money in ONE single S&P 500 ETF,3
3,18hzuzp,Opinions?,opinions don't matter.,2
4,18hzuzp,Opinions?,Please stop buying QYLD. This thing doesn’t ma...,2
...,...,...,...,...
323,162azsa,Billionaire Warren Kelcy has only been buying ...,It’s a cyclical on a severe downtrend. It look...,3
324,162azsa,Billionaire Warren Kelcy has only been buying ...,"Love ET, strong dividend, and I see it climbin...",0
325,162azsa,Billionaire Warren Kelcy has only been buying ...,I always liked a 9.4% dividend.,1
326,162azsa,Billionaire Warren Kelcy has only been buying ...,He’s chairman for one. It’s his company. Nat g...,1
327,162azsa,Billionaire Warren Kelcy has only been buying ...,Schedule k-1. I avoid those.PITA at tax time.,1